ffmpeg-python==0.2.0
gdown==4.6.3
julius==0.2.7
lpips==0.1.4
musdb==0.4.0
nobuco
omegaconf==2.3.0
openunmix==1.2.1
soundfile==0.12.1
sox==1.4.1
stempeg==0.2.3
sympy==1.12
tensorflow>=2.13.0
torch==2.0.1
torch-audiomentations==0.11.0
torchaudio==2.0.2
torchmetrics==0.11.4
pytorch-lightning==2.0.3
tqdm==4.65.0
